*{
	box-sizing: border-box;
}

body{
	background-color:beige;
	color:white;
}

.header h2{
	font-family: 'Laila', sans-serif;
}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	cursor: pointer;
	position: relative;
	padding: 12px 8px 12px 40px;
	background:#eee;
	font-size: 18px;
	transition: 0.02s;
	color: black;
	font-family: 'Laila', sans-serif;

	-webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd){
	background-color: #f9f9f9;
}

ul li:hover{
	background-color: #ddd;
}

ul li.check{
	background-color: #888;
	color: #fff;
	text-decoration: line-through;
}

ul li.check::before{
	content: '';
	position: absolute;
	border-color: #fff;
  border-style: solid;
	border-width: 0 2px 2px 0;
	top: 10px;
  left: 16px;
	transform: rotate(45deg);
	height: 15px;
  width: 7px;
}

.close{
	position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header{
	background-color: #f44;
	padding: 30px 40px;
	text-align: center;
	padding-bottom: 60px;

}

.header::before{
	content: ' ';
	display: table;
	clear: both;
}

input{
margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn{
	background-color: navy;
	padding: 10px;
	border: none;
	float: left;
	width: 25%;
	font-size: 16px;
	cursor: pointer;
	transition: 0.3s;
  border-radius: 0;
	text-align: center;
}

.addBtn:hover{
	background-color: skyblue;
	color:navy;
}